transformers==4.57.1
transformers[sentencepiece]==4.57.1

datasets==4.1.1
sacrebleu==2.5.1
rouge-score==0.1.2
py7zr==1.0.0

pandas==2.3.0
nltk==3.9.1
tqdm==4.67.1
PyYAML==6.0.2
matplotlib==3.10.3


accelerate==1.10.1

notebook==7.4.3

boto3==1.38.46
mypy-boto3-s3==1.38.0

python-box==7.3.2
ensure==1.0.4

fastapi==0.115.13
uvicorn==0.34.3

Jinja2==3.1.6

-e .
